/* Styles for Cv component */

.portfolio-cv {
    color: #672112;
    font-family: "Bebas Neue";
    padding: 5px;
    text-align: center;
    margin: 30px 0;
}

.portfolio-cv h2 {
    padding: 5px;
}

.portfolio-cv a {
    background-color: #c9e1ff;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #672112;
    text-decoration: none;
    color: #672112;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    animation: bounceIn 1s ease-in-out;
}

@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    
    40% {
        transform: translateY(-20px);
    }
    
    60% {
        transform: translateY(-10px);
    }
}

.portfolio-cv a:hover {
    background-color: #672112;
    color: #c9e1ff;
    animation: none;  /* Disable the bounce animation on hover */
}

